@import "tailwindcss";

:root {
  --color-primary: #000000;
  --color-secondary: #0f0f0f;
  --color-accent: #1a1a1a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a3a3a3;
}

body {
  background: var(--color-primary);
  color: var(--color-text-primary);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.perspective {
  perspective: 1200px;
}

.preserve-3d {
  transform-style: preserve-3d;
}